# sbt
target/
project/target/
project/project/

# IDE
.idea/
.bsp/
.metals/
.vscode/
project/metals.sbt

# OS
.DS_Store

# Coursier cache
.coursier/

# Logs
logs/

build.sbt.semanticdb

project/metals.sbt